*{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-decoration: underline;
    font-weight: bold;
    font-size: 38px;
}
button{
    background-color: transparent;
    font-size: 30px;
}
.subhead{
    text-decoration: underline overline crimson;
    font-weight: bold;
}